@import url('/AllCoins/AllCoins.css');
@import url('/FindBigVolumes/FindBigVolumes.css');
@import url('/Signal/signal.css');

body {
    margin: 0;
    padding: 5px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}




