body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.selected {
    background-color: rgb(235, 117, 117);
}

#needPrice, #needCoin {
    font-size: 45px;
    color: rgb(80, 224, 75);
}

.hit {
    font-weight: bold;
}


.btns {
    display: flex;
    gap: 30px;
}

.up, .down, #start {
    font-size: 20px;
    color: #111;
    background: rgb(243, 183, 183);
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
}


#start {
    width: 100px;
    text-align: center;
    background: rgb(119, 121, 221);
}
#start:hover {
    background-color: rgb(88, 91, 221);
}

.active {
    background-color: rgb(49, 235, 64);
}


input::placeholder {
    font-size: 20px;
}


.signals {
    display: flex;
    flex-direction: column;
    font-size: 45px;
    color: rgb(117, 117, 218);
}


.signal {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.btnDelete {
    border: 0;
    padding: 10px 30px;
    content: 'Delete';
    background-color: rgb(236, 108, 61);
    cursor: pointer;
}
