body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


#app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

#needPrice, #needCoin {
    font-size: 45px;
    color: rgb(80, 224, 75);
}

.hit {
    font-weight: bold;
}


.btnsUpDown {
    display: flex;
    gap: 30px;
}

.btnUp, .btnDown, #btnStart {
    font-size: 20px;
    color: #111;
    background: rgb(243, 183, 183);
    padding: 10px 20px;
    border: 1px solid black;
    cursor: pointer;
}


#btnStart {
    width: 100px;
    text-align: center;
    background: rgb(119, 121, 221);
}
#btnStart:hover {
    background-color: rgb(88, 91, 221);
}

.activeUpDown {
    background-color: rgb(49, 235, 64);
}


input::placeholder {
    font-size: 20px;
}


.signals {
    display: flex;
    flex-direction: column;
    font-size: 45px;
    color: rgb(117, 117, 218);
}


.signalDiv {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}

.btnDeleteSignal {
    border: 0;
    padding: 10px 30px;
    content: 'Delete';
    background-color: rgb(236, 108, 61);
    cursor: pointer;
}

.completedSignal {
    background-color:rgb(230, 142, 107);
}

/*---------------------------------------------------------*/



.allPrices {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
}

.tickerDiv {
    width: 400px;
    display: flex;
    gap: 15px;
    border: 1px solid grey;
    justify-content: flex-start;
}

.ticker {
    font-weight: bold;
    width: 200px;
}


.price {
    font-size: 20px;
    flex-grow: 1;
}

.percentUp {
    font-weight: bold;
    font-size: 18px;
    color: rgb(44, 233, 44);
}

.percentDown {
    color: rgb(223, 35, 35);
    font-weight: bold;
}



@media only screen and (max-width: 600px) {
    #needPrice, #needCoin {
        width: 90%;
        font-size: 29px;
    }

    .signals {
        font-size: 20px;
    }

    input::placeholder {
        font-size: 15px;
    }

    .allPrices {
        width: 90%;
        justify-content: center;
        flex-direction: column-reverse;
    }
}