.createSignal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.createSignal__input {
    outline: none;
    text-align: center;
    padding: 10px;
    font-size: 45px;
    color: #2eaa2a;
    border:0;
    box-shadow:0 0 5px 4px rgba(0,0,0, 0.1);
}

.createSignal__input::placeholder {
    font-size: 15px;
}

.createSignal__btn-create {
    padding: 10px 50px;
    font-size: 23px;
    color: #111;
    border: 1px solid black;
    cursor: pointer;
    background: rgb(127, 129, 248);
    transition: all 0.3s;
}
.createSignal__btn-create:hover {
    background-color: rgb(51, 54, 235);
    transform: rotate(2deg);
}

.signals {
    display: flex;
    flex-direction: column;
    font-size: 35px;
    color: rgb(117, 117, 218);
    gap: 10px;
}


.signalDiv {
    display: flex;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
}



.btnDeleteSignal {
    padding: 10px 25px;
    font-size: 18px;
    background-color: rgb(221, 155, 132);
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s;
}

.btnDeleteSignal:hover {
    background-color: rgb(236, 94, 42);
    transform: rotate(2deg);
}

.completedSignal {
    background-color:rgb(177, 174, 173, 0.5);
}


.createSignal__hit {
    font-weight: bold;
}




@media only screen and (max-width: 600px) {
    .signals {
        font-size: 20px;
    }

    .createSignal__input {
        width: 90%;
        font-size: 29px;
    }

    .createSignal__input::placeholder {
        font-size: 15px;
    }
}